absl-py==0.7.1
astor==0.7.1
astroid==2.2.5
atomicwrites==1.3.0
attrs==19.1.0
autopep8==1.4.4
certifi==2019.3.9
chardet==3.0.4
Click==7.0
comet-git-pure==0.19.11
comet-ml==1.0.55
configobj==5.0.6
everett==1.0.2
gast==0.2.2
google-pasta==0.1.6
grpcio==1.20.1
h5py==2.9.0
idna==2.8
importlib-metadata==0.17
isort==4.3.20
joblib==0.13.2
jsonschema==3.0.1
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
lazy-object-proxy==1.4.1
Markdown==3.1
mccabe==0.6.1
mock==3.0.5
more-itertools==7.0.0
netifaces==0.10.9
numpy==1.16.3
nvidia-ml-py3==7.352.0
packaging==19.0
pandas==0.24.2
pep8==1.7.1
pkg-resources==0.0.0
pluggy==0.12.0
protobuf==3.7.1
py==1.8.0
pycodestyle==2.5.0
pylint==2.3.1
pyparsing==2.4.0
pyrsistent==0.15.2
pytest==4.6.1
python-dateutil==2.8.0
pytz==2019.1
requests==2.21.0
scikit-learn==0.21.1
scipy==1.2.1
six==1.12.0
tabulate==0.8.3
tb-nightly==1.14.0a20190603
tensorboard==1.13.1
tensorflow==2.6.4
tensorflow-addons==0.4.0
tensorflow-estimator==1.13.0
tensorflow-gpu==2.0.0b1
termcolor==1.1.0
tf-estimator-nightly==1.14.0.dev2019060501
tqdm==4.32.1
typed-ast==1.3.5
urllib3==1.24.3
wcwidth==0.1.7
websocket-client==0.56.0
Werkzeug==0.15.4
wrapt==1.11.1
wurlitzer==1.0.2
zipp==0.5.1
